body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: var(--main-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
h1 {
  font-size: var(--h1-font);
  margin-bottom: 30px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-size: var(--p-font);
  margin-bottom: 6px;
  display: block;
  text-align: left;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: var(--other-color);
}
button {
  background-color: #007bff;
  color: var(--bg-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--p-font);
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
button:hover {
  background-color: #0056b3;
}
.back-link {
  font-size: var(--p-font);
  color: var(--other-color);
  text-decoration: underline;
  margin-top: 10px;
  display: inline-block;
}
.back-link:hover {
  color: var(--second-color);
}
